In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv("ipldata_19/matches.csv")

In [3]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
matches.shape

(756, 18)

In [6]:
# pd.value_counts(matches['season'])
pd.value_counts(matches['winner'])

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [10]:
# matches[matches['player_of_match'] == 'MS Dhoni']
matches[matches['player_of_match'] == 'MS Dhoni'][['team1','team2','player_of_match']].head()

                   team1                        team2 player_of_match
24   Sunrisers Hyderabad       Rising Pune Supergiant        MS Dhoni
73   Chennai Super Kings  Royal Challengers Bangalore        MS Dhoni
86      Delhi Daredevils          Chennai Super Kings        MS Dhoni
143  Chennai Super Kings              Deccan Chargers        MS Dhoni
181  Chennai Super Kings        Kolkata Knight Riders        MS Dhoni

In [12]:
deliveries = pd.read_csv('ipldata_19/deliveries.csv')

In [13]:
deliveries.shape

(179078, 21)

In [14]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [17]:
df_2 = deliveries[deliveries['batsman_runs'] == 6]

In [18]:
df_2.shape

(8170, 21)

In [19]:
pd.value_counts(df_2['batsman']).head()

CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
Name: batsman, dtype: int64

In [20]:
df_3 = deliveries.dropna(subset=['player_dismissed'])

In [21]:
df_3.shape

(8834, 21)

In [24]:
df_3 = df_3[df_3['dismissal_kind'] != 'run out']

In [25]:
df_3.shape

(7982, 21)

In [27]:
pd.value_counts(df_3['bowler']).head()

SL Malinga         170
A Mishra           156
Harbhajan Singh    150
PP Chawla          149
DJ Bravo           147
Name: bowler, dtype: int64

In [32]:
deliveries.groupby(['batsman'])['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
V Kohli      5434
SK Raina     5415
RG Sharma    4914
DA Warner    4741
S Dhawan     4632
Name: batsman_runs, dtype: int64

In [33]:
deliveries.groupby(['batsman','match_id'])['batsman_runs'].sum().sort_values(ascending=False).head()

batsman         match_id
CH Gayle        411         175
BB McCullum     60          158
AB de Villiers  562         133
RR Pant         7935        130
AB de Villiers  620         129
Name: batsman_runs, dtype: int64